section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  gap: 70px;

  .container {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 310px;
  }
}
