.title-row {
  border-bottom: 2px solid black;
}

.data-row {
  border-bottom: 1px solid lightgray;
}

.low {
  color: rgb(26, 142, 39) !important;
}

.medium {
  color: rgb(214, 173, 24) !important;
}

.high {
  color: rgb(171, 47, 47) !important;
}
