<section class="container border border-dark rounded py-5 px-2 text-center bg-danger">
  <div class="container-fluid bg-white">
    <div class="row border border-dark" *ngIf="favorite.length > 0 ; else noparty">
      <div class="col-3 col-md-2 d-none d-sm-flex justify-content-center align-items-center p-2 fw-bold">Id</div>
      <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center align-items-center p-2 fw-bold">Nome</div>
      <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center align-items-center p-2 fw-bold">Category</div>
      <div class="col-3 d-none d-md-flex justify-content-center align-items-center p-2 fw-bold">Intruction</div>
      <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center p-2 fw-bold">Action</div>
    </div>
    <div class="row border border-dark " *ngFor="let item of favorite">
      <div class="col-3 col-md-2 d-none d-sm-flex justify-content-center align-items-center p-2">{{item.idDrink}}
      </div>
      <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center align-items-center p-2">{{item.strDrink}}
      </div>
      <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center align-items-center p-2">
        {{item.strCategory}}</div>
      <div class="col-3 d-none d-md-flex justify-content-center align-items-center p-2">
        {{item.strInstructionsIT}}</div>
      <div class="col-4 col-sm-3 d-flex justify-content-center p-2 align-items-center">
        <button type="button" class="btn btn-danger" (click)="deleteFavorite(item.idDrink)">Delete</button>
      </div>
    </div>
  </div>
</section>
<ng-template #noparty>
  <div class="w-100 bg-white p-2 rounded">
    <p class="text-center fw-bold">Nessun Favorito!</p>
  </div>
</ng-template>
