.masthead {
    height: 50vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.text-coral {
  color: lightcoral;
}

.backgroundTitle {
  margin: 0px auto;
  border-radius: 10px;
  padding: 1rem;
  width: 60%;
  background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9));
  color: white;
}

.btn-primary {
  background: lightcoral !important;
  border: 0px;
}